<!DOCTYPE html>
<html lang="en">

<head>
	<base target="_top">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>WKT Plotter</title>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script src="https://tombatossals.github.io/angular-leaflet-directive/dist/angular-leaflet-directive.min.js"></script>
	<script src="https://cdn-geoweb.s3.amazonaws.com/terraformer/1.0.4/terraformer.min.js"></script>
	<script src="https://cdn-geoweb.s3.amazonaws.com/terraformer-wkt-parser/1.0.0/terraformer-wkt-parser.min.js"></script>

	<link rel="stylesheet" href="main.css?v=2" />
	<script src="main.js?v=2"></script>

</head>

<body>
	<div ng-app="myapp">
		<div ng-controller="MapController">
			<div class="map-container">
				<leaflet id="map" defaults="map.defaults" geojson="features.geojson" center="map.center"></leaflet>
			</div>
			<div class="tools-container">
				<div class="form-container">
					<form>
						<textarea rows="8" ng-model="form.text" placeholder="Digite um WKT ou GeoJSON ..."></textarea>
						<button ng-if="form.curId==null" class="btn btn-primary" ng-click="addFeature(form.text, form.autoZoom)" ng-disabled="form.text.length===0">Adicionar</button>
						<button class="btn btn-danger" ng-click="form.text=''" ng-disabled="form.text.length===0">Limpar</button>
						<button ng-if="form.curId!=null" class="btn btn-primary" ng-click="updateFeature(form.text, form.autoZoom, form.curId)" ng-disabled="form.text.length===0">Actualizar</button>
						<button class="btn btn-default" ng-click="zoomToFeatures()">Zoom</button>
						<input type="checkbox" ng-model="form.autoZoom">Auto
					</form>
				</div>
				<div class="feature-container">
					<ul class="list-unstyled">
						<li ng-repeat="f in features.original | orderBy:'id'" title={{f.text}}>
							<input type="checkbox" ng-model="f.visible" ng-change="updateLayers()" ng-disabled="form.curId!=null"> <span class="name">[{{f.id+1}}] {{f.name}}</span>
							<button class="btn btn-primary btn-xs" ng-disabled="form.curId!=null || !f.visible" ng-click="editFeature(f)"><i class="glyphicon glyphicon-pencil"></i></button>
							<button class="btn btn-primary btn-xs" ng-disabled="form.curId!=null || !f.visible" ng-click="copyFeature(f)"><i class="glyphicon glyphicon-copy"></i></button>
							<button class="btn btn-danger btn-xs" ng-disabled="form.curId!=null" ng-click="deleteFeature(f)"><i class="glyphicon glyphicon-remove"></i></button>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>

</html>