html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.map-container {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 300px;
	top: 0;
}

.form-container {
	height: 200px;
	padding: 5px;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

.feature-container {
	bottom: 0;
	padding: 5px;
	position: absolute;
	right: 0;
	top: 220px;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

.angular-leaflet-map {
	height: 100%;
}

form textarea {
	width: 100%;
}

ul>li {
	padding-bottom: 5px;
	white-space: nowrap;
}