html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.map-container {
	bottom: 0;
	left: 0;
	position: absolute;
	top: 0;
	width: 75%
}

.tools-container {
	width: 25%;
	bottom: 0;
	right: 0;
	position: absolute;
	top: 0;
}

.form-container {
	height: auto;
	padding: 5px;
	position: relative;
	right: 0;
	top: 0;
	width: 100%;
}

.feature-container {
	bottom: 0;
	padding: 5px;
	position: relative;
	right: 0;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

.angular-leaflet-map {
	height: 100%;
}

form textarea {
	width: 100%;
	resize: vertical;
}

ul>li {
	white-space: nowrap;
	background-color: rgba(109, 115, 120, .1);
	border-radius: 5px;
	padding: 1rem;
	gap: 1rem;
	align-items: center;
	display: flex;
}

ul>li>button:first-of-type {
	position: absolute;
	right: 65px;
}

ul>li>button:nth-of-type(2) {
	position: absolute;
	right: 35px;
}

ul>li>button:nth-of-type(3) {
	position: absolute;
	right: 5px;
}