.ol-attribution button {
	background-color: transparent;
	border-radius: 0;
	border: 0;
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	height: var(--button-size);
	margin: 0;
	outline: none;
	padding: 0;
	pointer-events: auto;
	width: var(--button-size);
}

.ol-attribution button i {
	cursor: pointer;
	line-height: 1em;
}

.ol-attribution button:focus,
.ol-attribution button:hover {
	background-color: var(--color-hover-transparent);
	outline: none;
}

.ol-attribution ul {
	padding: 1px 1.25em;
}

.ol-attribution.ol-unselectable.ol-control {
	background-color: var(--color-base-white);
	border-radius: 0;
}

.ol-bar .ol-button {
	border-radius: 0;
}

.ol-control button {
	color: var(--color-gray-600);
}

.ol-control.ol-bar .ol-bar.editbar {
	background-color: var(--color-base-white);
	margin-right: 5px;
}

.ol-control.ol-bar .ol-bar.editbar .ol-control.ol-bar.ol-control.ol-option-bar {
	background-color: var(--color-base-white);
}

.ol-control.ol-bar .ol-bar.editbar .ol-control.ol-bar.ol-control.ol-option-bar button:hover {
	height: calc(var(--button-size) - 3px) !important;
	margin-bottom: calc(var(--button-size) - 33px) !important;
}

.ol-control.ol-bar .ol-bar.locationbar {
	background-color: var(--color-base-white);
	margin-left: 5px;
}

.ol-control.ol-bar .ol-control button {
	background-color: transparent;
	border-radius: 0;
	border-right: 1px solid var(--color-divider-transparent);
	border: 0;
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	height: var(--button-size);
	margin: 0;
	outline: none;
	padding: 0;
	pointer-events: auto;
	width: var(--button-size);
}

.ol-control.ol-bar .ol-control button i {
	background-position: 50%;
	background-repeat: no-repeat;
	display: block;
}

.ol-control.ol-bar .ol-control button:hover {
	background-color: var(--color-hover-transparent);
}

.ol-control.ol-bar .ol-control.ol-option-bar {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.ol-control.ol-bar.attrbar {
	bottom: .5em;
	left: unset;
	right: -.5em;
	top: unset;
}

.ol-control.ol-bar.layerbar {
	background-color: var(--color-base-white);
	left: unset;
	right: -.5em;
}

.ol-control.ol-bar.layerbar button img {
	border-radius: 4px;
	height: 33px;
	margin-left: 1px;
	margin-top: 1px;
	vertical-align: super;
	width: 33px;
}

.ol-control.ol-bar.mainbar {
	background-color: transparent;
}

.ol-toggle.ol-active>button {
	border-radius: 3px;
}

.ol-tooltip {
	background: var(--color-overlay-medium);
	border-radius: 4px;
	color: white;
	cursor: default;
	font-size: 12px;
	opacity: 0.7;
	padding: 4px 8px;
	position: relative;
	user-select: none;
	white-space: nowrap;
}

.ol-tooltip-measure {
	font-weight: bold;
	opacity: 1;
}

.ol-tooltip-measure:before,
.ol-tooltip-static:before {
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid var(--color-overlay-medium);
	bottom: -6px;
	content: "";
	left: 50%;
	margin-left: -7px;
	position: absolute;
}

.ol-tooltip-static {
	background-color: var(--color-tooltip-yellow);
	color: var(--color-black);
}

.ol-tooltip-static:before {
	border-top-color: var(--color-tooltip-yellow);
}

.ol-zoom .ol-zoom-in {
	border-bottom: 1px solid var(--color-divider-transparent);
}

.ol-zoom .ol-zoom-in,
.ol-zoom .ol-zoom-out {
	background-color: transparent;
	border-radius: 0;
	border: 0;
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	height: var(--button-size);
	margin: 0;
	outline: none;
	padding: 0;
	pointer-events: auto;
	width: var(--button-size);
}

.ol-zoom .ol-zoom-in:hover,
.ol-zoom .ol-zoom-out:hover {
	background-color: var(--color-hover-transparent);
	outline: none;
}

.ol-zoom.ol-unselectable.ol-control {
	background-color: var(--color-base-white);
	border-radius: 4px;
}