:root {
	--primary-color: #0078d4;
	--secondary-color: #f1f1f1;
	--text-color: #333;
	--border-radius: 0;
	--input-padding: 8px;
	--arrow-size: 10px;
	--font-size: 12px;
}

/* General Reset */
body,
form {
	font-family: Arial, sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

label {
	font-weight: normal;
	font-size: var(--font-size);
	color: var(--text-color);
	margin-bottom: 8px;
	display: block;
}

/* Checkbox */
.ui-checkbox {
	display: flex;
	align-items: center;
	margin: 10px 0;
}

.ui-checkbox input {
	display: none;
}

.ui-checkbox label {
	position: relative;
	cursor: pointer;
	padding-left: 30px;
	color: var(--text-color);
	display: flex;
	align-items: center;
	font-weight: normal;
	font-size: var(--font-size);
}

.ui-checkbox label::before {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	/* Center the checkbox */
	width: 18px;
	height: 18px;
	border: 1px solid var(--text-color);
	border-radius: var(--border-radius);
	background: #fff;
	transition: background 0.3s, border 0.3s;
}

.ui-checkbox input:checked+label::before {
	background: var(--primary-color);
	border-color: var(--primary-color);
}

.ui-checkbox input:checked+label::after {
	content: "✔";
	position: absolute;
	left: 5px;
	top: 50%;
	transform: translateY(-50%);
	font-size: var(--font-size);
	color: #fff;
	width: 18px;
	height: 18px;
}

/* Select */
.ui-select-container {
	position: relative;
	width: 100%;
	margin: 10px 0;
}

.ui-select {
	appearance: none;
	/* Removes default select styling */
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 100%;
	padding: var(--input-padding);
	padding-right: calc(var(--arrow-size) * 2);
	font-size: var(--font-size);
	border: 1px solid var(--secondary-color);
	border-radius: var(--border-radius);
	background-color: var(--secondary-color);
	color: var(--text-color);
	cursor: pointer;
	transition: border-color 0.3s;
	background-image: linear-gradient(45deg, transparent 50%, var(--primary-color) 50%),
		linear-gradient(135deg, var(--primary-color) 50%, transparent 50%);
	background-position: calc(99% - var(--arrow-size)) center,
		calc(99% - var(--arrow-size) / 5) center;
	background-size: var(--arrow-size) var(--arrow-size), var(--arrow-size) var(--arrow-size);
	background-repeat: no-repeat;
}

.ui-select:focus {
	outline: none;
	border-color: var(--primary-color);
	box-shadow: 0 0 5px var(--primary-color);
}

.ui-select:hover {
	background-color: #e6f2ff;
}

/* Inputs */
.ui-input {
	width: 100%;
	padding: var(--input-padding);
	border: 1px solid var(--secondary-color);
	border-radius: var(--border-radius);
	transition: border 0.3s;
	font-size: var(--font-size);
}

.ui-input:focus {
	border-color: var(--primary-color);
	outline: none;
}